### Ignore camera-manager runtime config
mavlink-camera-manager/config/settings.json
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.log
.env
*.env
*.DS_Store
*.vscode/
.idea/
node_modules/
dist/
build/
*.egg-info/
*.tar.gz
*.zip
*.bak
*.tmp
# Docker
*.img
*.container
